*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: #3498db;
 
  min-width: 20vw;
  /* max-width :15vw; */
  font-size: clamp(1.4rem, 2.5vw, 1.5rem);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 0 15px 15px 0;

}


.nav-links  {
  list-style: none;
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
  gap: 1rem;
}

.nav-links li{
 
  width: 100%;
  text-align: center;
  /* text-decoration: none; */
  padding: 5px 3px;
  
}

.nav-links li a{
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}

.nav-links li.active{
  color: #3498db;
  background-color: white;
}

.nav-links li:hover a{
  color: #3498db;

}
.nav-links li:hover{
  background-color: white;
}


