

.app-container {
  display: flex;
  /* flex-direction: row; */
  height: 100vh;
  width: 100%;
 
  /* 不要加 height: 100vh; */
  /* 不要加 overflow: auto; */

}



.content-container {
  flex: 1;               /* 剩余空间都给内容 */
  padding: 20px;
  overflow-y: auto;      /* 内容区可滚动 */
  background-color: transparent;
}
